.post {
  background: rgb(252, 249, 248);  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, rgb(252, 249, 248));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, rgb(252, 249, 248)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid #bdced4;
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
}

