html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.g{letter-spacing:-.31em;text-rendering:optimizespeed;font-family:FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-align-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){table .g{display:block}}.opera-only :-o-prefocus,.g{word-spacing:-.43em}.u,.u-1,.u-1-1,.u-1-12,.u-1-2,.u-1-24,.u-1-3,.u-1-4,.u-1-5,.u-1-6,.u-1-8,.u-10-24,.u-11-12,.u-11-24,.u-12-24,.u-13-24,.u-14-24,.u-15-24,.u-16-24,.u-17-24,.u-18-24,.u-19-24,.u-2-24,.u-2-3,.u-2-5,.u-20-24,.u-21-24,.u-22-24,.u-23-24,.u-24-24,.u-3-24,.u-3-4,.u-3-5,.u-3-8,.u-4-24,.u-4-5,.u-5-12,.u-5-24,.u-5-5,.u-5-6,.u-5-8,.u-6-24,.u-7-12,.u-7-24,.u-7-8,.u-8-24,.u-9-24{display:inline-block;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}.g [class*=u]{font-family:sans-serif}.u-1-24{width:4.1667%}.u-1-12,.u-2-24{width:8.3333%}.u-1-8,.u-3-24{width:12.5%}.u-1-6,.u-4-24{width:16.6667%}.u-1-5{width:20%}.u-5-24{width:20.8333%}.u-1-4,.u-6-24{width:25%}.u-7-24{width:29.1667%}.u-1-3,.u-8-24{width:33.3333%}.u-3-8,.u-9-24{width:37.5%}.u-2-5{width:40%}.u-10-24,.u-5-12{width:41.6667%}.u-11-24{width:45.8333%}.u-1-2,.u-12-24{width:50%}.u-13-24{width:54.1667%}.u-14-24,.u-7-12{width:58.3333%}.u-3-5{width:60%}.u-15-24,.u-5-8{width:62.5%}.u-16-24,.u-2-3{width:66.6667%}.u-17-24{width:70.8333%}.u-18-24,.u-3-4{width:75%}.u-19-24{width:79.1667%}.u-4-5{width:80%}.u-20-24,.u-5-6{width:83.3333%}.u-21-24,.u-7-8{width:87.5%}.u-11-12,.u-22-24{width:91.6667%}.u-23-24{width:95.8333%}.u-1,.u-1-1,.u-24-24,.u-5-5{width:100%}

html, body {
  height: 100%;
}

body {
	/* background: #ECE9E6;
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); */

  background: linear-gradient(to bottom, #ffffff, #ebf1ea); 
  /* f1eeeb */
  color: #333;
  font-family: sans-serif;
  
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}